;; Analyzed by ClojureScript 0.0-3308
{:use-macros nil, :excludes #{}, :name bike_share_clojurescript.components.Header, :imports nil, :requires {reagent reagent.core, reagent.core reagent.core}, :uses nil, :defs {header {:protocol-inline nil, :meta {:file "/Users/steven.zhang/Documents/code/bike-stations-clojurescript/src/bike_share_clojurescript/components/Header.cljs", :line 4, :column 7, :end-line 4, :end-column 13, :arglists (quote ([title]))}, :name bike_share_clojurescript.components.Header/header, :variadic false, :file "src/bike_share_clojurescript/components/Header.cljs", :end-column 13, :method-params ([title]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 4, :end-line 4, :max-fixed-arity 1, :fn-var true, :arglists (quote ([title]))}}, :require-macros nil, :cljs.analyzer/constants {:seen #{:div :class :h2}, :order [:div :h2 :class]}, :doc nil}