;; Analyzed by ClojureScript 0.0-3308
{:use-macros nil, :excludes #{}, :name bike_share_clojurescript.components.Station, :imports nil, :requires {reagent reagent.core, reagent.core reagent.core}, :uses nil, :defs {station {:protocol-inline nil, :meta {:file "/Users/steven.zhang/Documents/code/bike-stations-clojurescript/src/bike_share_clojurescript/components/Station.cljs", :line 4, :column 7, :end-line 4, :end-column 14, :arglists (quote ([name numberOfBikes numberOfEmptyDockers]))}, :name bike_share_clojurescript.components.Station/station, :variadic false, :file "src/bike_share_clojurescript/components/Station.cljs", :end-column 14, :method-params ([name numberOfBikes numberOfEmptyDockers]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 4, :end-line 4, :max-fixed-arity 3, :fn-var true, :arglists (quote ([name numberOfBikes numberOfEmptyDockers]))}}, :require-macros nil, :cljs.analyzer/constants {:seen #{:key :div :class :span}, :order [:div :class :span :key]}, :doc nil}